Repository PorktoberRevolution/ReStocked, pull requests merged in 2019-02, with the labels that each got.

#356 #autoLOC tags for 0.625m & 1.875m Fairing Manufacturers
  Distribution/RestockPlus/GameData/ReStockPlus/Parts/Payload/0625/restock-fairing-0625-1.cfg
  Distribution/RestockPlus/GameData/ReStockPlus/Parts/Payload/0625/restock-fairing-1875-1.cfg
Labels: bug, making history, restock+

#366 0.625m Fairing - Fixes
  Distribution/RestockPlus/GameData/ReStockPlus/Parts/Payload/0625/restock-fairing-0625-1.cfg
  Distribution/RestockPlus/GameData/ReStockPlus/Parts/Payload/1875/restock-fairing-1875-1.cfg
Labels: bug, restock base

#410 WIP: Packaging scripts
  .gitignore
  .travis.yml
  Distribution/Restock/.mod_data.yml
  Distribution/Restock/changelog.txt
  Distribution/RestockPlus/.mod_data.yml
  Distribution/RestockPlus/changelog.txt
Labels: enhancement

#438 Correct Oscar Tank Manufacturers
  Distribution/RestockPlus/GameData/ReStockPlus/Parts/FuelTank/0625/restock-fueltank-0625-1.cfg
  Distribution/RestockPlus/GameData/ReStockPlus/Parts/FuelTank/0625/restock-fueltank-0625-2.cfg
  Distribution/RestockPlus/GameData/ReStockPlus/Parts/FuelTank/0625/restock-fueltank-0625-3.cfg
Labels: bug, restock+
